*{
  box-sizing: border-box;
}
.App {
  text-align: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: #6363b7;
  
  
}
.All{

  width: 70%;
  margin-top: 50px;
  min-height: 300px;
  height: max-content;
  background-color: #1D1A42;
  color: white;
  padding: 20px;

}
.All input{
   width: 80%;
   height: 30px;
   border:1px solid #6363b7;
   outline: none;
   background-color: #1D1A42;
   color:white;
   font-family: 'Franklin Gothic Medium';
   
}
.All button{
  height: 30.5px;
  width: 20%;
  background-color: #6363b7;
  color: white;
  border: none;
  
}
.task{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 40px;
   margin-top: 10px;
   background-color: #815BFF;
   border-radius: 5px;

}
.task p{
   width: 80%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;

}
.task img{
  height:  20px;
  padding: 3px;
   
}


